.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.nav-items {
    padding: 0px 20px;
}

.nav-items > ul{
    display: flex;
}

.nav-items > ul > li:hover {
    border: 1px solid black;
    cursor: pointer;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
    font-size: large;
    list-style-type: none;
}

.logo-container {
    border: 1px;
    border-color: black;
}

.logo {
    width: 100px;
    height: 100px;
}

.cart {
    height: 20px;
    width: 30px;
}


.cart-nav-item {
    display: flex;
}


.restaurant-image {
    height: 250px;
    width:250px;
}

.restaurant-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.restaurant-card-container {
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
    width: 250px;
}

.restaurant-card-container > h3,h4 {
    padding-left: 10px;
    margin: 5px 0px;
}

.search-container {
    margin: 10px;
}

.restaurant-card-container:hover {
    border: 1px solid orangered;
    cursor: pointer;
}
.star-rating {
    color: gold;
}


.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.shimmer-card {
    margin: 10px;
    padding: 5px;
    background-color: lightgrey;
    width: 250px;
    height: 280px;
}


.footer-container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    padding: 10px;
    justify-content: center;
}

.link-class {
    text-decoration: none;
    color: inherit;
}

.filter-btn {
    padding: 10px;
}